.NamesPage {
  display: flex;
  flex-direction: column;
}

#title {
  margin-top: 40px;
  font-size: 50px;
  color: rgb(82, 82, 82);
  font-size: 55px;
}

#gif {
  margin: 20px;
  width: 200px;
  height: auto;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

#countdown {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: 5px;
  margin-top: 10px;
}

#directions {
  margin-top: 20px;
  color: rgb(82, 82, 82)
}