.NamesPage {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 50px;
  font-size: 50px;
}

#gif {
  margin: 20px;
  width: 200px;
  height: auto;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}