.table {
    max-width: 750px;
    margin: 50px auto auto auto;
    background-color: grey;
    border: 3px solid black;
}

tbody:hover{
    cursor: grab;
}


#boy-tr {
    background-color: skyblue;
}

#girl-tr {
    background-color: lightpink;
}

#tr {
    background-color: rgb(247, 239, 176);
}